name: Update RSS Feed
on:
  schedule:
    - cron: '0 0 * * 1'
  workflow_dispatch:

jobs:
  update-rss:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy to Render
        run: curl -X POST -d {} ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
